@font-face {
  font-family: Informant;
  src: url("ChessInformantReader.woff");
}

.informant {
  font-family: Informant !important;
}

.informant-grid-column {
  font-family: Informant !important;
  vertical-align: initial !important;
}

.my-label {
  border-radius: 4px;
  border: 1px solid #c5c5c5;
  overflow: scroll;
}
